* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.page-title-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 36px;
}

.page-title-container p {
    text-align: center;
}

.main-container {
    margin: 50px 0 0 0;
    width: 100%;
    height: 100vh;
    background: #1c1c1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.card-container {
    padding: 12px;
    width: 600px;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
    font-size: 12px;
    border-radius: 15px;
    background-color: #3a3a3c;
}

.title-container{
    display: flex;
    justify-content: start;
}

.title-container h3{
    font-size: 16px;
}

.container-title {
    margin-left: 8px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form label {
    align-self: flex-start;
    margin-bottom: 8px;
}

.form-control {
    background: #636366;
    width: 100%;
    margin-bottom: 1rem;
    color: #000;
    border: none;
    border-radius: 4px;
}

.perimeter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-form button {
    color: white;
    background-color: #636366;
    width: 300px;
    border-radius: 4px;
    border: none;
    padding: 4px;
    margin: 8px;
}

.input-form button:hover {
    background-color: #000;
    /* background-color: #1c1c1e; */
}

.answer-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.answer-box p {
    margin: 8px;
}

@media (max-width: 640px) {    
    
    .card-container {
        width: 300px;
    }    
    
    .input-form button {
        width: 100px;
        margin: 4px;
    }   

  }