* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: bold;
}

.custom-background{
    background: rgba( 227, 227, 231, 1 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.main-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.page-title-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    text-align: center;
    font-weight: bold;
}

.page-title-container h2 {
    font-weight: bold;
}

.card-container {
    padding: 12px;
    width: 800px;
    font-size: 12px;

    background: rgba( 239, 240, 249, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17.5px );
    -webkit-backdrop-filter: blur( 17.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title-container{
    display: flex;
    justify-content: start;
}

.title-container svg {
    margin-top: 4px;
    justify-self: center;
}

.title-container h3{
    font-size: 20px;
    font-weight: bold;
}

.container-title {
    margin-left: 8px;
}

.form-container {
    display: grid;
    grid-template-columns: 50% 1fr;
    column-gap: 8px;
}

.input-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form label {
    width: 100%;
    margin-bottom: 8px;
}

.input-form .form-control {
    border: none;
    color: #000;
    margin-bottom: 8px;
}

.input-form button {

    margin-top: 8px;
    width: 100%;
    border-radius: 4px;
    border: none;
    color: black;
    background: rgb(226,231,241);
    font-weight: bold;
    flex-grow: 1;
}

.input-form button:hover {
    background: rgb(204,215,227);
}

.persons-container {
    display: flex;
    flex-direction: column;
}

.persons-container .salaries-title {
    margin-bottom: 8px;
    font-weight: bold;
}

.salaries-list{
    overflow: auto;
    margin: 0;
    padding: 8px;
    width: 100%;
    height: 160px;
    background-color: white;
    border-radius: 4px;
}

.salaries-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.salaries-list ul li {
    text-align: start;
}

.result-container {
    margin-top: 16px;
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 1fr;
    column-gap: 8px;
    row-gap: 8px;
}

.result-container button {
    width: 100%;
    border-radius: 4px;
    border: none;
    color: black;
    background: rgb(226,231,241);
    font-weight: bold;
}

.result-container button:hover {
    background: rgb(204,215,227);
}

 .median-container {
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    background-color: white;
}

@media (max-width: 640px) {    
    
    .card-container {
        width: 300px;
    }    
  }